*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.banner{
    height: 100vh;
    background-image: url("image/bannerx\ \(1\).png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* =============================logo======================== */
.logos{
    margin-left: 100px;
    margin-right: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
    cursor: pointer;

}
/* ====================banner texts====================== */
.bannerText{
    max-width: 400px;
    margin-top: 140px;
}
.bannerText h1{
    font-size: 38px;
}
.lineSpan0{
    background-color: orange;
    height: 3px ;
    width: 250px;
    display: inline-block;
    margin: 2px 0;
}
.lineSpan2{
    background-color: orange;
    height: 2px ;
    width: 150px;
    display: inline-block;
    margin: 1px 0;
}
.lineSpan3{
    background-color: orange;
    height: 2px ;
    width: 50px;
    display: inline-block;
}
/*=========================== button Youtube====================== */
.buttonClass{
    outline: none;
    padding: 10px 35px;
    background-color: transparent;
    border: 2px solid orange;
    margin-top: 15px;
    font-weight: bold;
    color: orange;
}
.buttonClass:hover{
    background-color: orange;
    color: white;
    transition: all .7s ease;
    cursor: pointer;
}
/* =================Aside nav link bottom================== */
#sideNavLinks{
    width: 250px;
    height: 100vh;
    background-color: orange;
    position: fixed;
    right: -250px;
    top: 0px;
 
    z-index: 2;
    transition: all .5s ease;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: black;
}
/*========================= menu buton design ===================== */
#menuButton{
    position: fixed;
    width: 50px;
    right: 60px;
    top: 40px;
    z-index: 2;
    cursor: pointer;
}
/*------------================= Our First section is add done----======================================================= */

/*======================== about section ==================== */
#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-rightSection{
    flex-basis: 50%;
}
.aboutText{
    text-align: center;
    display: inline-block;
    max-width: 400px;
    margin-left: 50px;
}
.aboutText h1{
    font-size: 35px;
}
.aboutText h4{
    font-size: 22px;
}
.aboutText p{
    padding: 10px 0px;
    color: gray;
}

/*============================== git hub button ==================== */

.buttonClass2{
    outline: none;
    padding: 10px 35px;
    background-color: transparent;
    border: 2px solid black;
    margin-top: 15px;
    font-weight: bold;
    color: black;
}
.buttonClass2:hover{
    background-color: black;
    border-radius: 40px;
    transition: .7s;
    color: white;
    cursor: pointer;
}
/*=========================== linkedin button here in bottom==================== */

.buttonClass3{
    outline: none;
    padding: 10px 35px;
    background-color: transparent;
    border: 2px solid black;
    margin-top: 15px;
    font-weight: bold;
    color: blueviolet;
}
.buttonClass3:hover{
    background-color: rgb(91, 114, 245);
    border: 2px solid rgb(91, 114, 245);
    border-radius: 40px;
    transition: .7s;
    color: white;
    cursor: pointer;
}

/*==========================---<<<<<<<<<<<<<<<<<< feachers >>>>>>>>>>>>>---================ */



#feachers{
    padding-top: 100px;
    padding-bottom: 50px;
    justify-content: center;
}
.feachers-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.colum{
   flex-basis: 25%;
   text-align: center;
   cursor: pointer;
}

/*====================== video tag =================== */

#videoTopPaddingText{
    padding-top: 300px;
    text-align: center;
}
#video{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    padding-top: 100px;
}

/* -=======================     subscription are         ===================== */
#contact{
    padding: 100px 100px;
    margin-left: 100px;
}

.contactRow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.conatctCollumLeft, .conatctCollumRight{
    flex-basis: 50%;
}
.conatctCollumRight img{
    width: 100%;
}
form{
    max-width: 380px;
    padding: 30px 0;
}
form input{
    outline: none;
    width: 100%;
    margin: 10px 0;
    padding: 15px 20px;
    border: 2px solid orangered; 
    border-radius: 40px; 
    font-size: 17px; 
} 

.inputTeam{
    position: relative;
}

label{
    position: absolute;
    top: -4px;
    left: 20px;
    font-size: 18px;
    background-color: white;
    padding: 0 6px;
    color: orangered;
}


/*==================== footer section ====================== */
#footer{
    padding: 200px 0 100px 0;
}
.containerFooter{
    padding: 0 50px;
}
.footerRow{
    display: flex;
    justify-content: space-between;
}
.footerColum-left{
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
}
.footerColum-right{
    flex-basis: 30%;
}
.footerText{
    margin-top: 60px;
}
.footerColum-right{
    margin-top: 60px;
    text-align: center;
}
.logosFotters{
    margin:10px 10px;
    cursor: pointer;
}
.footerText small:hover{
    color: orange;
    cursor: pointer;
}
.footerText h4:hover{
    color: orangered;
    cursor: pointer;
}
.rightlogo img{
    cursor: pointer;
}


/*======================== socialLinksIcon ================ */

.socialLinksIcon{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.socialLinksIcon img{
    width: 30px;
    display: block;
    margin: 20px 0px 0px 20px;
    cursor: pointer;
}
/*============ media quary ============ */
@media only screen and (max-width:777px){
    .banner{
        background-image: none;
    }
    .socialLinksIcon{
        position: fixed;
        transform: translateY(-50%);
    }
    .socialLinksIcon img{
        width: 15px;
        display:block;
        cursor: pointer;
        margin-left: 5px;
    }
    .logos{
        margin-left: 40px;
        margin-right: 0px;
    }
    .logo{
        margin-top: 50px;
        width: 100px;
        cursor: pointer;
    }
    .bannerText{
        max-width: 300px;
        margin-top: 60px;
    }
    .bannerText h1{
        font-size: 25px;
    }
    #about{
        padding-top: 20px;
        margin-top: 200px
    }
    .about-left-col{
        flex-basis: 90%;
    }
    .about-left-col img{
        margin-top: 100px;
    }
    .about-rightSection{
        flex-basis: 100%;
    }
    .aboutText{
        margin-top: 50px;
        text-align: center;
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
    .aboutText h1{
        font-size: 25px;
    }
    .aboutText h4{
        font-size: 16px;
    }
    .aboutText p{
        padding: 10px 0px;
        color: gray;
    }
    #contact{
        padding: 0px 0px;
        margin-left: 0px;
    }
    .conatctCollumLeft{
        margin-left: 25px;
    }
    .conatctCollumRight img{
        width: 300px;
        margin-left: 10px;
        margin-top: 50px;
    }
    form{
        max-width: 400px;
        padding: 15px 0;
        text-align: center;
    }
    form input{
        outline: none;
        width: 100%;
        margin: 10px 0;
        padding: 11px 15px;
        border: 1px solid orangered; 
        border-radius: 40px; 
        font-size: 12px; 
    } 
    .inputTeam{
        position: relative;
    }
    label{
        position: absolute;
        top: 5px;
        left: 20px;
        font-size: 10px;
        background-color: white;
        padding: 0 6px;
        color: orangered;
    }
    .fromText{
        text-align: center;
        width: 240px;
        font-size: 20px;
    }
    #footer{
        padding-top: 100px;
    }
    .containerFooter{
        padding: 0 10px;
    }
    .footerRow{
        display: block;
    }
    .footerColum-left{
        display: block;
        flex-basis: 0%;
        text-align: center;
    }
    .footerColum-right{
        flex-basis: 0%;
    }
    .footerText{
        margin-top: 60px;
    }
    .footerColum-right{
        margin-top: 60px;
        text-align: center;
    }
    .logosFotters{
        margin:10px 10px;
        cursor: pointer;
    }
    .footerText small:hover{
        color: orange;
        cursor: pointer;
    }
    .footerText h4:hover{
        color: orangered;
        cursor: pointer;
    }
 #feachers{
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
.feachers-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.colum{
   flex-basis: 100%;
   text-align: center;
   cursor: pointer;
   width: 200px;
   margin-bottom: 50px;
}
.colum h1{
    font-size: 20px;
}
.colum img{
    width: 100px;
}

#videoTopPaddingText{
    text-align: center;
    padding: 50px 20px 0 20px;
}
#videoTopPaddingText h1{
    font-size: 23px;
}
#video{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}



}
  